<script type="text/javascript">
  var d = document.getElementById("plans");
d.className = d.className + " active";
</script>

<h1>Plans</h1>
<table class='table table-hover'>
  <thead>
  <tr>
    <th>Plan</th>
    <th>Monthly Notifications</th>
    <th></th>
   
  </tr>
  </thead>
  <tbody>
  <% @plans.each do |plan| %>
      <tr>
        <td>
        <%if plan.plan_type == "Free"%>
            <%= plan.plan_type %>
          <% else %>
            <%= plan.plan_type %>/month
          <% end %>
        </td>
        <td>
          <%= plan.available_notifications %>
        </td>
         <td>
          
          <% if current_user.try(:plan).present? %>
            
            <% if current_user.try(:plan) == plan.plan_type %>
              <button class='btn btn-mini btn-success' disabled type='button'>Current</button>
            <% elsif plan.id > Plan.find_by_plan_type(current_user.try(:plan)).id %>
              <%if (current_user.try(:plan)) == "Free"%>
                <% if Payment.find_by_user_id(current_user).present? %>
                    <%= link_to 'Upgrade',update_plan_payment_path(plan.id), :class => 'btn btn-info btn-mini' %>
                  <% else %>
                    <%= link_to 'Upgrade',new_payment_path({plan_id: plan.id}), :class => 'btn btn-info btn-mini' %>
                  <% end %>
              <%else%>
                <%= link_to 'Upgrade',update_plan_payment_path(plan.id), :class => 'btn btn-info btn-mini' %>
              <%end%>
            <% else plan.id < Plan.find_by_plan_type(current_user.try(:plan)).id %>
                <%= link_to 'Downgrade', update_plan_payment_path(plan.id), :class => 'btn btn-danger btn-mini' %>
            <% end %>
          <% end %>
         </td>
      </tr>
  <% end %>
  </tbody>
</table>